body {
  font-family: Avenir;
  font-size: 16px;
}

:root {
  --sights: #B38EAD;
  --beaches: #D08770;
  --supermarkets: #A3BE8C;
}


.label-cbx-beaches {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}

.label-cbx-beaches input:checked+.checkbox-beaches {
  border-color: var(--beaches);
}

.label-cbx-beaches input:checked+.checkbox-beaches svg path {
  fill: var(--beaches);
}

.label-cbx-beaches input:checked+.checkbox-beaches svg polyline {
  stroke-dashoffset: 0;
}

.label-cbx-beaches:hover .checkbox-beaches svg path {
  stroke-dashoffset: 0;
}

.label-cbx-beaches .checkbox-beaches {
  position: relative;
  top: 2px;
  float: left;
  margin-left: 25px;
  margin-top: -10px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #A0ABBE;
  border-radius: 3px;
  fill: var(--beaches);
}

.label-cbx-beaches .checkbox-beaches svg {
  position: absolute;
  top: -2px;
  left: -2px;
}

.label-cbx-beaches .checkbox-beaches svg path {
  fill: none;
  stroke: var(--beaches);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.01s ease;
}

.label-cbx-beaches .checkbox-beaches svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.01s ease;
}

.label-cbx-beaches>span {
  pointer-events: none;
  vertical-align: middle;
}

.cntr-beaches {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
}

/* -------------- */

.label-cbx-supermarkets {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}

.label-cbx-supermarkets input:checked+.checkbox-supermarkets {
  border-color: var(--supermarkets);
}

.label-cbx-supermarkets input:checked+.checkbox-supermarkets svg path {
  fill: var(--supermarkets);
}

.label-cbx-supermarkets input:checked+.checkbox-supermarkets svg polyline {
  stroke-dashoffset: 0;
}

.label-cbx-supermarkets:hover .checkbox-supermarkets svg path {
  stroke-dashoffset: 0;
}

.label-cbx-supermarkets .checkbox-supermarkets {
  position: relative;
  top: 2px;
  float: left;
  margin-left: 25px;
  margin-top: -10px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #A0ABBE;
  border-radius: 3px;
  fill: var(--supermarkets);
}

.label-cbx-supermarkets .checkbox-supermarkets svg {
  position: absolute;
  top: -2px;
  left: -2px;
}

.label-cbx-supermarkets .checkbox-supermarkets svg path {
  fill: none;
  stroke: var(--supermarkets);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.01s ease;
}

.label-cbx-supermarkets .checkbox-supermarkets svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.01s ease;
}

.label-cbx-supermarkets>span {
  pointer-events: none;
  vertical-align: middle;
}

.cntr-supermarkets {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
}

/* ----------------- */

.label-cbx-sights {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}

.label-cbx-sights input:checked+.checkbox-sights {
  border-color: var(--sights);
}

.label-cbx-sights input:checked+.checkbox-sights svg path {
  fill: var(--sights);
}

.label-cbx-sights input:checked+.checkbox-sights svg polyline {
  stroke-dashoffset: 0;
}

.label-cbx-sights:hover .checkbox-sights svg path {
  stroke-dashoffset: 0;
}

.label-cbx-sights .checkbox-sights {
  position: relative;
  top: 2px;
  float: left;
  margin-left: 25px;
  margin-top: -10px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #A0ABBE;
  border-radius: 3px;
  fill: var(--sights);
}

.label-cbx-sights .checkbox-sights svg {
  position: absolute;
  top: -2px;
  left: -2px;
}

.label-cbx-sights .checkbox-sights svg path {
  fill: none;
  stroke: var(--sights);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.01s ease;
}

.label-cbx-sights .checkbox-sights svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.01s ease;
}

.label-cbx-sights>span {
  pointer-events: none;
  vertical-align: middle;
}

.cntr-sights {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
}

/* ----------------- */

.label-cbx-sights {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}

.label-cbx-sights input:checked+.checkbox-sights {
  border-color: var(--sights);
}

.label-cbx-sights input:checked+.checkbox-sights svg path {
  fill: var(--sights);
}

.label-cbx-sights input:checked+.checkbox-sights svg polyline {
  stroke-dashoffset: 0;
}

.label-cbx-sights:hover .checkbox-sights svg path {
  stroke-dashoffset: 0;
}

.label-cbx-sights .checkbox-sights {
  position: relative;
  top: 2px;
  float: left;
  margin-left: 25px;
  margin-top: -10px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #A0ABBE;
  border-radius: 3px;
  fill: var(--sights);
}

.label-cbx-sights .checkbox-sights svg {
  position: absolute;
  top: -2px;
  left: -2px;
}

.label-cbx-sights .checkbox-sights svg path {
  fill: none;
  stroke: var(--sights);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.01s ease;
}

.label-cbx-sights .checkbox-sights svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.01s ease;
}

.label-cbx-sights>span {
  pointer-events: none;
  vertical-align: middle;
}

.cntr-sights {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
}

/* ----------------- */

/* ----------------- */

.label-cbx-atm {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}

.label-cbx-atm input:checked+.checkbox-atm {
  border-color: #B48EAD;
}

.label-cbx-atm input:checked+.checkbox-atm svg path {
  fill: #B48EAD;
}

.label-cbx-atm input:checked+.checkbox-atm svg polyline {
  stroke-dashoffset: 0;
}

.label-cbx-atm:hover .checkbox-atm svg path {
  stroke-dashoffset: 0;
}

.label-cbx-atm .checkbox-atm {
  position: relative;
  top: 2px;
  float: left;
  margin-left: 25px;
  margin-top: -10px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #A0ABBE;
  border-radius: 3px;
  fill: #B48EAD;
}

.label-cbx-atm .checkbox-atm svg {
  position: absolute;
  top: -2px;
  left: -2px;
}

.label-cbx-atm .checkbox-atm svg path {
  fill: none;
  stroke: #B48EAD;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.01s ease;
}

.label-cbx-atm .checkbox-atm svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.01s ease;
}

.label-cbx-atm>span {
  pointer-events: none;
  vertical-align: middle;
}

.cntr-atm {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
}

/* -------------- */

/* ----------------- */

.label-cbx-transport {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}

.label-cbx-transport input:checked+.checkbox-transport {
  border-color: #D08770;
}

.label-cbx-transport input:checked+.checkbox-transport svg path {
  fill: #D08770;
}

.label-cbx-transport input:checked+.checkbox-transport svg polyline {
  stroke-dashoffset: 0;
}

.label-cbx-transport:hover .checkbox-transport svg path {
  stroke-dashoffset: 0;
}

.label-cbx-transport .checkbox-transport {
  position: relative;
  top: 2px;
  float: left;
  margin-left: 25px;
  margin-top: -10px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #A0ABBE;
  border-radius: 3px;
  fill: #D08770;
}

.label-cbx-transport .checkbox-transport svg {
  position: absolute;
  top: -2px;
  left: -2px;
}

.label-cbx-transport .checkbox-transport svg path {
  fill: none;
  stroke: #D08770;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.01s ease;
}

.label-cbx-transport .checkbox-transport svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.01s ease;
}

.label-cbx-transport>span {
  pointer-events: none;
  vertical-align: middle;
}

.cntr-transport {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
}

/* --------------- */


.label-cbx>span {
  pointer-events: none;
  vertical-align: middle;
}


.cntr-atm {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
}

.invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}
