body {
  font-family: Avenir;
  font-size: 16px;
}

.label-cbx-super {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}

.label-cbx-super input:checked+.checkbox-super {
  border-color: #A6419C;
}

.label-cbx-super input:checked+.checkbox-super svg path {
  fill: #A6419C;
}

.label-cbx-super input:checked+.checkbox-super svg polyline {
  stroke-dashoffset: 0;
}

.label-cbx-super:hover .checkbox-super svg path {
  stroke-dashoffset: 0;
}

.label-cbx-super .checkbox-super {
  position: relative;
  top: 2px;
  float: left;
  margin-left: 25px;
  margin-top: -10px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #A0ABBE;
  border-radius: 3px;
  fill: #A6419C;
}

.label-cbx-super .checkbox-super svg {
  position: absolute;
  top: -2px;
  left: -2px;
}

.label-cbx-super .checkbox-super svg path {
  fill: none;
  stroke: #A6419C;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.01s ease;
}

.label-cbx-super .checkbox-super svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.01s ease;
}

.label-cbx-super>span {
  pointer-events: none;
  vertical-align: middle;
}

.cntr-super {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
}

.invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}
